{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer",
        "singleQuote": false
      }
    },
    {
      "files": "tests/**/*-test.js",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
